body {
  display: grid;
  place-items: center;
  margin-top: 100px;
  background-color: rgb(150, 202, 200);
}
.vh-100 {
  display: grid;
  place-items: center;
  height: 500px;
  width: 800px;
  background-color: rgb(199, 226, 226);
  border-radius: 30px;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.vh-100 h3 {
  color: red;
  font-size: 15px;
}
