body {
  display: grid;
  place-items: center;
  margin-top: 30px;
  background-color: aquamarine;
}
.form3 {
  display: grid;
  place-items: center;
  height: 250px;
  width: 400px;
  background-color: rgb(199, 226, 226);
  border-radius: 30px;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
