<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="LoginScreen"
      style="
        width: 1440px;
        height: 1024px;
        position: relative;
        background: #5880e0;
      "
    >
      <div
        class="Rectangle5"
        style="
          width: 720px;
          height: 1024px;
          left: 720px;
          top: 0px;
          position: absolute;
          background: white;
          border-top-left-radius: 100px;
          border-top-right-radius: 100px;
        "
      ></div>
      <img
        class="Weather1"
        style="
          width: 97px;
          height: 81px;
          left: 56px;
          top: 46px;
          position: absolute;
        "
        src="https://via.placeholder.com/97x81"
      />

      <div
        class="MyWeather"
        style="
          left: 61px;
          top: 126px;
          position: absolute;
          color: white;
          font-size: 15px;
          font-family: Raleway;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        My Weather
      </div>

      <div
        class="WelcomeToMyWeather"
        style="
          left: 56px;
          top: 263px;
          position: absolute;
          color: white;
          font-size: 36px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Welcome to My Weather !!!
      </div>

      <div
        class="LogInNowToDiscoverTheLatestWeatherConditionsTailoredToYourLocationAndPreferences"
        style="
          left: 56px;
          top: 373px;
          position: absolute;
          color: white;
          font-size: 36px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Log in now to discover the latest <br />weather conditions tailored to
        <br />your location and preferences.
      </div>

      <div
        class="YourWeatherYourWay"
        style="
          left: 56px;
          top: 870px;
          position: absolute;
          color: white;
          font-size: 36px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        “Your Weather, Your Way”
      </div>

      <div
        class="Rectangle53"
        style="
          width: 500px;
          height: 95px;
          left: 830px;
          top: 291px;
          position: absolute;
          background: rgba(245, 248, 255, 0.3);
          border-radius: 8px;
          border: 0.5px rgba(0, 0, 0, 0.3) solid;
        "
      ></div>

      <div
        class="Email"
        style="
          width: 69px;
          height: 46px;
          left: 863px;
          top: 317px;
          position: absolute;
          color: black;
          font-size: 18px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Email
      </div>

      <div
        class="Rectangle54"
        style="
          width: 500px;
          height: 95px;
          left: 830px;
          top: 449px;
          position: absolute;
          background: rgba(245, 248, 255, 0.3);
          border-radius: 8px;
          border: 0.5px rgba(0, 0, 0, 0.3) solid;
        "
      ></div>

      <div
        class="Password"
        style="
          width: 120px;
          height: 32px;
          left: 863px;
          top: 482px;
          position: absolute;
          color: black;
          font-size: 18px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Password
      </div>

      <div
        class="LoginToYourAccount"
        style="
          width: 269px;
          height: 32px;
          left: 850px;
          top: 231px;
          position: absolute;
          color: black;
          font-size: 18px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Login to your account
      </div>

      <div
        class="Rectangle56"
        style="
          width: 500px;
          height: 70px;
          left: 830px;
          top: 607px;
          position: absolute;
          background: #5b83e8;
          border-radius: 10px;
        "
      ></div>

      <div
        class="Login"
        style="
          width: 90px;
          height: 33px;
          left: 1040px;
          top: 626px;
          position: absolute;
          color: white;
          font-size: 24px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Login
      </div>

      <div
        class="DonTHaveAnAccount"
        style="
          width: 192px;
          height: 33px;
          left: 991px;
          top: 728px;
          position: absolute;
          color: black;
          font-size: 16px;
          font-family: Raleway;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Don't have an account?
      </div>

      <div
        class="SignUpHere"
        style="
          width: 104px;
          height: 33px;
          left: 1033px;
          top: 761px;
          position: absolute;
        "
      >
        <span
          style="
            color: #5b83e8;
            font-size: 16px;
            font-family: Raleway;
            font-weight: 500;
            word-wrap: break-word;
          "
          >Sign Up</span
        >
        <span
          style="
            color: black;
            font-size: 16px;
            font-family: Raleway;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
        </span>
        <span
          style="
            color: black;
            font-size: 16px;
            font-family: Raleway;
            font-style: italic;
            font-weight: 400;
            word-wrap: break-word;
          "
          >here</span
        >
      </div>
    </div>
  </body>
</html>
